:root {
    --background_color_one: #ffffff ;
    --background_color_two: #BAC894;
}

html, body {height: 100%;
}

body {
    margin: 0;
    background-color: var(--background_color_two);
    font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {
    width: 100%;
    margin: 0;
    background-color: var(--background_color_one);
    min-height: 8199px;
    border-left: 1px solid #C5CFA9;
    border-right: 1px solid #C5CFA9 ;
    box-sizing: border-box; 
}

.inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: inherit;
    
}
 


nav {
    height: var(--navbar-height);
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

}


nav ul {
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

}
nav a:hover {

    color: #adadad;
}


nav li{
    height:100%;
    width:150px;
    text-align: center;
    position: relative;
}

nav li:hover{
    background: var(--accent-color);
}
nav ul a{
    height:100%;
    width:100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}
.dropdown{
    height:min-content;
    width: 200px;
    display: none;
    flex-direction: column;
    position: absolute;
    top:40px;
}
.dropdown li{
    height: 70px;
    width:100%;
}
.dropdown li a{
    justify-content: flex-start;
    padding-left: 30px;
    width:calc(100% - 30px);

}
nav li:hover .dropdown{

    display: flex;
}
nav input[type="checkbox"]{
    display: none;
}
.expandable_li{
display: flex;
justify-content: center;
align-items: center;

}
.toggle_button{
    width: 30px;
    height: 23px;

    position: absolute;
    top: 25px;
    right: 25px;

    display: none;
    flex-direction: column;
    justify-content: space-between;
    
}
.bar{
    height:4px;
    width:100%;
    background: var(--text-color);
    border-radius: 100px;
}
@media(max-width: 850px){

    .toggle_button{
        display: flex;
    }
    nav ul{
        height: min-content;
        width: 100%;
        background: var(--background-color);

        display: none;
        position: absolute;
        top: var(--navbar-height);
    }
    nav li{
        height: min-content;
        width: 100%;
    }
    nav ul a {
        padding: 30px 0;
    }
    .expandable_li{
        display:block;
    }
    .expandable_li label{
        padding: 30px 0;
        cursor: pointer;
        display: block;
    }
    .expandable_li:hover .dropdown{
        display: none;
    }
    .expandable_li input[type="checkbox"]:checked ~ .dropdown{
        display: block;
    }
    .dropdown{
        position: static;
        width: 100%;
    }
    .dropdown li{
        padding: 0;
        display: block;
        position: static;
        background: var(--darker-background-color);
    }
    .dropdown li a{
        width: 100%;
        padding:0;
        justify-content: center;
    }
    #toggle_button:checked ~ ul{
        display:block;

    }
}














.header {

height: 6.25rem;

}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hero_header {
    height: 924px;

  
}

.hero_header_inner {
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero_header_inner h1{
    display: flex;
    flex-direction: row;
    padding: 10px;
    
    position: absolute;
    width:339px;
    height: 92px;
    left: 550px;
    top: 272px;
    font-weight:200;
    font-size: 96px;
    margin: 0;
}

.hero_header_inner h2 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    
    position: absolute;
    width: 919px;
    height: 162px;
    left: 259px;
    top: 431px;
    font-weight: 200;
    font-size: 48px;
    margin:0;
}

.illustrator {
 
    position: absolute;
    width: 367px;
    height: 378px;
    left: 535px;
    top: 610px;
}

.basics {
    min-height: 512px;
    background-color: var(--background_color_two);

}

.inner_basics{
    display: flex;
    justify-content: center;  
    align-items: center; 
}


.inner_basics h2 {
    position: absolute;
    width: 801px;
    height: 69px;
    left: 90px;
    top: 1091.5px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;

}

.inner_basics h3 {
    position: absolute;
    width: 286px;
    height: 54px;
    left: 90px;
    top: 1190.5px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 20px;

}

.inner_basics p { 
    position: absolute;
    width: 972px;
    height: 90px;
    left: 87px;
    top: 1272.5px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    
    color: #000000;
    

}




.basics2 {
    min-height: 512px;
    background-color: #ffffff;

}

.inner_basics2{
    display: flex;
    justify-content: center;  
    align-items: center; 
}

.inner_basics2 h3 {
    position: absolute;
    width: 251px;
    height: 41px;
    left: 1200px;
    top: 1642.5px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 20px;
    color: #000000;

}


.inner_basics2 p {
    position: absolute;
    width: 947px;
    height: 120px;
    left: 430px;
    top: 1721.5px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    display: flex;
   text-align: right;
    
    color: #000000;
    
    }






 .Website {
    min-height:1024px; 
    background-color: #FFFFFF;
        
    }

 .inner_website {
    display: flex;
    justify-content: center;  
       
    
    }

.inner_website h2 {

    position: absolute;
    width: 801px;
    height: 69px;
    left: 90px;
    top: 2106px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;


}   


.pa_w {
    position: absolute;
width: 1008px;
height: 180px;
left: 90px;
top: 2208.5px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;

color: #000000;
}

.bild {
    position: absolute;

height: 40px;
left: 84px;
top: 2442px;

}



.text {
    position: absolute;
width: 947px;
height: 330px;
left: 83px;
top: 2501.5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;

color: #000000;
}

.CodeEditor {
    min-height:1024px; 
    background-color: var(--background_color_two);
    display: flex;
    justify-content: center;  
}


.CodeEditor h2 {
    position: absolute;
    width: 801px;
    height: 69px;
    left: 90px;
    top: 3128px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.CodeEditor p {
    position: absolute;
    width: 947px;
    height: 330px;
    left: 90px;
    top: 3202.5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    
    color: #000000;
}

.video {
    position: absolute;
width: 1051px;
height: 602px;
left: 195px;
top: 3433px;
}


.Browser {
    min-height:1024px; 
    background-color: #FFFFFF;
    
}

.Browser h2 {
     position: absolute;
    width: 801px;
    height: 69px;
    left: 90px;
    top: 4157.5px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.Browser p {
    position: absolute;
    width: 947px;
    height: 330px;
    left: 90px;
    top: 4256.5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    
    color: #000000;
}

.IM {
    min-height:1024px; 
    background-color: #FFFFFF;
    
}

.inner_IM {
    display: flex;
    justify-content: center;  
   
}

.inner_IM h2{
    position: absolute;
    width: 801px;
    height: 69px;
    left: 90px;
    top: 5171px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;

}



.hi3 {
    position: absolute;
width: 599px;
height: 613px;
left: 100px;
top: 5408.5px;
font-size: 24px;
text-align: right;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
color: #000000;
}



.hm3 {
 position: absolute;
width: 582px;
height: 613px;
font-size: 24px;
left: 761px;
top: 0px;
text-align: left;
color: #000000;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
color: #000000;

}




.Designregeln {
    min-height:1024px; 
    background-color: #FFFFFF;
}

.Designregeln h2 {

    position: absolute;
    width: 801px;
    height: 69px;
    left: 90px;
    top: 6279px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
} 

.Designregeln p {
    position: absolute;
width: 1391px;
height: 339px;
left: 90px;
top: 6375px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;

color: #000000;
}

.designbild {
    position: absolute;
    width: 774px;
    left: 350px;
    top: 6735px;
}



.Baumstruktur h2 {
    position: absolute;
    width: 801px;
    height: 69px;
    left: 90px;
    top: 7250px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.Baumstruktur p {
    position: absolute;
    width: 1391px;
    height: 339px;
    left: 90px;
    top: 7321px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    
    color: #000000;
    }



.DOM {
    position: absolute;
    width: 865px;
    height: 395px;
    left: 350px;
    top: 7637px;
}    

