:root{
  --background-color: #809741;
  --darker-background-color: #606d30;
  --accent-color: #809741;
  --text-color: #FFFFFF;
  --navbar-height: 80px;
  --text-color02: #000000;
  --background-color-one: #BAC894; ;
}

*{
margin: 0;
padding: 0;
font-size: 19px;

}
html {
height: 100%;
}
body {
  height: 100%;
 
}

nav {
  
  height: var(--navbar-height);
  background-color: var(--background-color-one);
  display:flex;
  justify-content: space-between;
  align-items: center;
  


}
nav .logo{
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-variant: small-caps;
  text-decoration: none;
  color: #FFFFFF;
}

nav ul {
  height:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;


}
nav li{
  height:100%;
  width:150px;
  text-align: center;
  position: relative;

}

nav li:hover{
  background: var(--accent-color);
}
nav ul a{
  height:100%;
  width:100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}
.dropdown{
  height:min-content;
  width: 200px;
  background: var(--background-color);

  display: none;
  flex-direction: column;

  position: absolute;
  left:0;
  top:var(--navbar-height);
}
.dropdown li{
  height: 70px;
  width:100%;
}
.dropdown li a{
  justify-content: flex-start;
  padding-left: 30px;
  width:calc(100% - 30px);

}
nav li:hover .dropdown{

  display: flex;
}
nav input[type="checkbox"]{
  display: none;
}
.expandable_li{
display: flex;
justify-content: center;
align-items: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #FFFFFF;

}
.toggle_button{
  width: 30px;
  height: 23px;
 
  position: absolute;
  top: 25px;
  right: 25px;

  display: none;
  flex-direction: column;
  justify-content: space-between;
  
}
.bar{

  height:4px;
  width:100%;
  background: var(--text-color);
  border-radius: 100px;
}
@media(max-width: 850px){

  .toggle_button{
      display: flex;
  }
  nav ul{
      height: min-content;
      width: 100%;
      background: var(--background-color);

      display: none;
      position: absolute;
      top: var(--navbar-height);
  }
  nav li{
      height: min-content;
      width: 100%;
  }
  nav ul a {
      padding: 30px 0;
  }
  .expandable_li{
      display:block;
  }
  .expandable_li label{
      padding: 30px 0;
      cursor: pointer;
      display: block;
  }
  .expandable_li:hover .dropdown{
      display: none;
  }
  .expandable_li input[type="checkbox"]:checked ~ .dropdown{
      display: block;
  }
  .dropdown{
      position: static;
      width: 100%;
  }
  .dropdown li{
      padding: 0;
      display: block;
      position: static;
      background: var(--darker-background-color);
  }
  .dropdown li a{
      width: 100%;
      padding:0;
      justify-content: center;
  }
  #toggle_button:checked ~ ul{
      display:block;

  }
  #teaser{
    height: 600px;
    
        }
  #img{
    height:230px;
    
    object-fit:cover;
  }
  .wrapper {
    max-width: 100%;
    margin-bottom: 370px;
    height: 1000px;

  }

}
@media screen and (max-width:1550px) {

section div p{

  font-size: smaller;
}
}

#teaser {
  
  width: 100%;
  height: 400px;

}

#teaser img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  position:static;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mitte {

  display:flex;
  justify-content: center;
  align-items:center;
}

#img{
  max-width: 520px;
  float:right;
  border: 0px solid;
  border-radius: 10px;
  margin-left: 16px;
  display: flex;
  align-items:center;
  justify-content: center;
}
.text-box h1{

  font-weight: bold;
}



section div h1, p {
  
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 2200px;
  margin: 10px 30px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: justify;
}
.wrapper{
max-width: 100%;
padding: 0;
margin-top: 60px;
margin-bottom: 70px;
height: 512px;
background-color:var(--background-color-one);   
  
}

footer ul {
  
text-decoration: none;
margin: 0;
padding: 10px;
list-style:none;
padding-top: 24px;
padding-bottom: 24px;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; 
}

footer li a:hover {
background-color: rgb(143, 191, 255);
}
footer ul li a {
padding: 6px;
font-weight:bolder;
text-decoration: none;
}



